html, body {
    overflow: auto;
    margin: 0;
    height:100%;
    width:100%;
    padding:0;
    scroll-behavior: smooth;

    box-sizing: border-box;

}
canvas{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}
body > div{
    background: rgba(255, 255, 255, .8);
}

.cool_container{
    position: relative;
    height: auto;
	  align-items: center;

    font-size: 3rem;

    color: #b21e35;
    width: auto;
    margin: auto;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    z-index: 9500;
}

.cool_container p{
  /* align-items: center; */
  text-align: center;

  width: auto;
  margin: auto;

}


.intro{
    display: flex;
    /* height: 100%;
    width: 100%; */
}

.particles{
  text-align: center;
}


.bio_intro{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

} 

.top__div{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: pink;
    font-family: 'Source Code Pro', monospace; 
    font-size:2rem;
}
.top__div hr{
	position: relative;
	width: 70px;
	height: 4px;
	border: none;
	background: pink;	
}
.content{
    width: 250px;
}

img{
    max-width:100%;
    max-height:100%;
}

.project_section{
    
    height: 100%;
    width: 100%;
}

section {
    display: block;
    height:100%;
    width:100%;
    padding: 60px;
    
    box-sizing:border-box;
}

/*Skills*/
  .skill-header{
    font-family: 'Source Code Pro', monospace; 
    font-size:3rem;
    margin-bottom: 1rem;
    text-align: center;
  }


  .icon {
    width: 11.875rem;
    height: 11.25rem;
  }




  /*Socials*/
  .socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 2%;
    bottom: 50%;
  }
  
  .socicon {
    width: 2rem;
    height: 2rem;
  }

  /*For blinking effect.*/
  .typed-text {
    color:teal;
    font-family: 'Source Code Pro', monospace;
    font-size: 4rem;
  }
  
  .cursor {
    display: inline-block;
    width: 3px;
    margin-left: 4px;
    background: teal;
  }
  
  .cursor.blink {
    animation: blink 0.8s ease-in-out infinite;
  }
  
  @keyframes blink {
    0%, 100% {
      background: var(--teal);
    }
    40%, 50% {
      background: transparent;
    }
  }
  
  .resume-download{
    padding-top: 100px;
    padding-bottom: 100px;
    width:100%;
    display: flex;
    justify-content: center;
    height:fit-content;
  }



  
  /* CSS 
  Button By Steven Lei  */

  .button-49,
  .button-49:after {
    width: 150px;
    height: 76px;
    line-height: 78px;
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
    background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    text-align: center;
  }
  
  .button-49:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: 'HIRE ME';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
  }
  
  .button-49:hover:after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }
  
  @media (min-width: 768px) {
    .button-49,
    .button-49:after {
      width: 200px;
      height: 86px;
      line-height: 88px;
    }
  }

  /*Skills*/
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    /* width: fit-content;
    height: fit-content; */
   
  }

  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;

    width: fit-content;
    height: fit-content;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }

.first-set{
  width: fit-content;
  height: fit-content;

}

/*Skills*/
*, *:before, *:after {
  box-sizing: inherit;
}

.text-center {
  text-align: center;
}

.color-white {
  color: #fff;
}

.box-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;

  padding: 35px 15px;
  width: 100%;
}

@media screen and (min-width:1380px) {
  .box-container {
    flex-direction: row
  }
}

.box-item {
  position: relative;
  -webkit-backface-visibility: hidden;

  /*Change these to change image box size*/
  width: 300px;
  height: 300px;
  
  margin-bottom: 35px;
  max-width: 100%;
  max-height: 100%;


}

.flip-box {
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}

.flip-box-front,
.flip-box-back {
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  
  /*Change these to change image box size*/
  min-height: 300px;


  -ms-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
  transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
  -webkit-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  background-size: cover;

}

.flip-box-front {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;


}

.flip-box:hover .flip-box-front {
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;


}

.flip-box-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;


}

.flip-box:hover .flip-box-back {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box .inner {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 60px;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
  
  transform: translateY(-50%) translateZ(60px) scale(.94);
  -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
  -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
  top: 50%;

  
}

.flip-box-header {
  color: black;
  font-family: 'Source Code Pro', monospace;  
}
