body {
    margin: 0;
    overflow: hidden;
    /* width: 100%;
    height: 100%; */
  }

.intro{
    height: 100vh;
    width: 99vw;
    display: flex;
    background-color: #faedcd;
}

#particles{
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left:0;
    
    z-index: 9000;
    /* background-color: black; */

}



#canvas1{
    /* position: absolute; */

    /* position: fixed; */
    /* background: white; */
    width: 100%;
    height: 100%;
    /* top:0;
    left: 0; */
}

.cool_container{
    /* position: absolute; */

    position: relative;
	/* height: 99vh; */
    height: auto;

	/* display: flex; */
	/* justify-content: center; */
	align-items: center;
    font-size: 7rem;

    /* color: #6f1d1b; */
    color: #b21e35;
    width: auto;
    margin: auto;
    /* padding-top: 25%; */
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    z-index: 9500;

    /* top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); */
}


/*For My Skills Header*/
.top__div{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: pink;
    font-family: 'Source Code Pro', monospace; 
    font-size:2rem;
}
.top__div hr{
	position: relative;
	width: 70px;
	height: 4px;
	border: none;
	background: pink;	
}


.bio_intro{
	/* width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column; */

    width:100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
} 

.content{
    width: 250px;
}

